*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 85, 85);
  flex-direction: column;
  column-gap: 2rem;
}

.wrap{
  background-color: rgb(224, 111, 134);
  justify-content: center;
  width: 30rem;
  height: 35rem;
  outline: 2px solid whitesmoke;
  border-radius: 15px;
}

input{
  padding: 2rem 6rem;
  align-content: center;
  background-color: rgb(221, 230, 238);
  margin-left: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
}
p{
  font-size: larger;
  margin: 3rem;
  background-color: cadetblue;
  padding: 1rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 17px;
}