*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 85, 85);
  flex-direction: column;
  column-gap: 2rem;
}

.wrap{
  background-color: crimson;
  justify-content: center;
  width: 30rem;
}

input{
  padding: 2rem 6rem;
  align-content: center;
  margin: 1rem;
  background-color: rgb(101, 108, 114);
  
}
p{
  font-size: larger;
  margin: 3rem;
  background-color: cadetblue;
  padding: 1rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 17px;
}